<input type="email" name="<%=studentInfo%>email" id="" placeholder="Enter your email address" required> <br> <br>
<input type="password" name="<%=studentInfo%>password" id="" placeholder="Enter Password" required> <br> <br>
<input type="text" name="<%=studentInfo%>fname" id="" placeholder="Enter Your First Name" required> <br> <br>
<input type="text" name="<%=studentInfo%>mname" id="" placeholder="Enter Your middle Name"> <br> <br>
<input type="text" name="<%=studentInfo%>lname" id="" placeholder="Enter Your Last Name" required> <br> <br>
<input type="date" name="<%=studentInfo%>dob" id="" placeholder="Enter your date of birth" required> <br> <br>
<input type="number" name="<%=studentInfo%>phone" id="" placeholder="Enter your home phone number"> <br> <br>
<input type="number" name="<%=studentInfo%>mobile" id="" placeholder="Enter your mobile number" required> <br> <br>
<label for="">Status: </label>
<label for="">On</label><input type="radio" name="<%=studentInfo%>status" id="status" value="1">
<label for="">Off</label>
<input type="radio" name="<%=studentInfo%>status" id="status" value="0"> <br> <br>
<input type="datetime-local" name="<%=studentInfo%>date" id="" required>